@import '../../../../styles/variables.scss';

.TodoContainer {
  width: 40vw;
  position: absolute;
  top: 5%;
  left: 30vw;

  .Container {
    >:first-child {
      border-top-left-radius: $container-border-radius;
      border-top-right-radius: $container-border-radius;
    }
    >:last-child {
      border-bottom-left-radius: $container-border-radius;
      border-bottom-right-radius: $container-border-radius;
    }
  }
}
