@import '../../../../styles/variables.scss';

.TodoContainer {
  width: 40vw;
  position: absolute;
  top: 5%;
  left: 30vw;

  .Container {
    >:last-child {
      border-bottom-left-radius: $container-border-radius;
      border-bottom-right-radius: $container-border-radius;
    }
  }

  .Header {
    border-radius: $container-border-radius;
  }

  .TodoHeader {
    :last-child {
      border-radius: $container-border-radius;
    }
  }
}
