@import '../../../../styles/variables.scss';

.TodoTile {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  border: 1px solid $secondary-color-150;
  border-radius: $container-border-radius;
  background-color: $secondary-color-100;

  &:first-child {
    width: 40px;
  }

  .Checkbox {
    width: 50px;
  }

  .Input {
    &[type='text'] {
      margin-left: 5px;
      border: none;
      overflow: hidden;
  
      &:focus {
        outline: none;
      }

    }
  }

  .CloseButton {
    width: 100px;
    height: 30px;

    .CloseIcon {
      width: 100px;
      height: 30px;
      color: $secondary-color-200;
    }

    &:hover {
      .CloseIcon {
        color: $secondary-color-700;
      }
    }
  }
}
