@import '../../../../styles/variables.scss';

.TodoTile {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  background-color: $secondary-color-100;
  border-bottom: 1px solid $secondary-color-150;

  .Checkbox {
    width: 50px;

    &.Hidden {
      display: none;
    }
  }

  .ValueContainer {
    margin-left: 5px;
    border: none;
    overflow: hidden;
    width: 100%;
  }

  .Input {
    &[type='text'] {
      @extend .ValueContainer;

      &:focus {
        outline: none;
      }

      &:disabled {
        background-color: inherit;
      }
    }
  }

  .InitialValueContainer {
    @extend .ValueContainer;

    background-color: inherit;
    align-self: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .CrossedInput {
    color: $secondary-color-200;
    text-decoration: line-through;
  }

  .CloseButton {
    width: auto;
    height: 30px;

    .CloseIcon {
      width: 30px;
      height: 30px;
      color: $secondary-color-200;
    }

    &:hover {
      .CloseIcon {
        color: $secondary-color-700;
      }
    }

    &.Hidden {
      display: none;
    }
  }
}
