@import '../../../../styles/variables.scss';

.TodoTile {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  background-color: $secondary-color-100;
  border: 1px solid $secondary-color-150;
  border-radius: 5px;

  .Checkbox {
    width: 50px;

    &.Hidden {
      display: none;
    }
  }

  .Input {
    &[type='text'] {
      margin-left: 5px;
      border: none;
      overflow: hidden;
      width: 100%;
  
      &:focus {
        outline: none;
      }
      
      &:disabled {
        background-color: inherit;
      }

    }
  }

  .CrossedInput {
    color: $secondary-color-200;
    text-decoration: line-through;
  }

  .CloseButton {
    width: auto;
    height: 30px;

    .CloseIcon {
      width: 30px;
      height: 30px;
      color: $secondary-color-200;
    }

    &:hover {
      .CloseIcon {
        color: $secondary-color-700;
      }
    }

    &.Hidden {
      display: none;
    }
  }
}
