@import '../../../../styles/variables.scss';

.TodoList {
  max-height: 50vh;
  overflow-x: hidden;
  border-top-left-radius: $container-border-radius;
  border-top-right-radius: $container-border-radius;
}

.NoContent {
  color: $secondary-color-100;
  text-align: center;
}
