@import './styles/variables.scss';

body {
  margin: 0;
  overflow: hidden;
  max-height: 100vh;
  font-family: $font-family;
  background-color: $secondary-color-150;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color-300;
  border-radius: 10px;
}
